# Variable

In [1]:
'''1. Create a variable called break and assign it a value 5. 
See what happens and find out the reason behind the behavior that you see'''

break = 5

SyntaxError: invalid syntax (312643361.py, line 4)

In [2]:
'''2. Create two variables. One to store your birth year and another one to store current year.
Now calculate your age using these two variables'''

birth = 2000
current = 2024
age = current - birth
print(age)

24

In [3]:
'''3. Store your first, middle and last name in three different variables 
and then print your full name using these variables'''

first = "Mohammad"
middle = "Sarfraz"
last = "Khan"

print(first+' '+middle+' '+last)

Mohammad Sarfraz Khan

In [4]:
'''4. Answer which of these are invalid variable names: 
      "_nation, 1record, record1, record_one, record-one, record^one, continue"'''

_nation
1record
record1
record_one
record-one
record^one
continue

SyntaxError: invalid decimal literal (1709661809.py, line 5)

In [5]:
'''Find area of triangle using numbers:'''
base = 10.2
height = 20.5
area = (1/2)*base*height
print(area)

104.55

# Number

In [10]:
foo = 1.2456
round(foo,2)

1.25

In [11]:
10+2*3

16

In [13]:
sar = 2.3e-5
sar

2.3e-05

In [14]:
0x12

18

In [17]:
c1 = 2+5j
c2 = 3+6j
c1+c2

(5+11j)

In [21]:
6-5.7
round(6-5.7,2)

0.3

In [22]:
# 1. Use python to find area of triangle
# area = (1/2)*base*height
base=10.26
height=20.572
area=(1/2)*base*height
print("area is:",area) # area is: 105.53435999999999
# to show area till 2 decimal places
print("area rounded to 2 decimal place:",round(area,2)) # 105.53

area is: 105.53435999999999
area rounded to 2 decimal place: 105.53

In [23]:
# 2. basic airthmetic using numbers
print(1+2) # 3
print(1/2) # 0.5
print(17%3) # 2
print(3**2) # 9
print(10+2*3) # 16
print((10+2)*3) # 36

3
0.5
2
9
16
36

In [24]:
# 3. Number data types (int, float, complex numbers)
print(type(area)) # float
foo=2.3e-3
print(foo) # 0.0023
print(type(1)) # int
print(0x12) # 18
print(type(0x12)) # int
c1=2+3j
print(type(c1)) # complex
c2=3-4j
print(c1+c2) # 5-j

<class 'float'>
0.0023
<class 'int'>
18
<class 'int'>
<class 'complex'>
(5-1j)

In [25]:
# 4. Internal representation of numbers
# (a) integers are stored in simple binary format
print(format(5,'b')) # 4 bytes (or 32 bits), visual of binary presentation
# (b) floats use IEEE754 standard : https://en.wikipedia.org/wiki/IEEE_754
print(6-5.7) # this prints 0.29999999 and not 0.3. why? Due to IEEE 754 standard

101
0.2999999999999998

In [26]:
'''You have a football field that is 92 meter long and 48.8 meter wide.
Find out total area using python and print it.'''

length = 92
width = 48.8
area = length*width
print('Area of football fiels',area)

Area of football fiels 4489.599999999999

In [27]:
'''2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
and you gave shopkeeper 20 dollar.Find out using python, how many dollars is the
shopkeeper going to give you back?'''

num_packets = 9
cost_packets = 1.49
total = num_packets*cost_packets
money_paid = 20
money_given = money_paid-total
print("money given by shopkeeper",money_given)

money given by shopkeeper 6.59

In [31]:
'''3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
   is its length. If tiles cost 500 rs per square feet, how much will be the total
  cost to replace all tiles. Calculate and print the cost using python
  Hint: Use power operator (**) to find area of a square'''
  
length = 5.5
area = length**2
cost = 500
total_cost = area*cost
print("Total cost for tiles replacement",total_cost)

Total cost for tiles replacement 15125.0

In [32]:
'''4. Print binary representation of number 17 using python'''

print(format(17,'b'))

10001

# String

In [7]:
myfood = ('Piza, Burger, Noodles')
myfood

'Piza, Burger, Noodles'

In [8]:
myfood = myfood.replace('Noodles','biryani')
print(myfood)

Piza, Burger, biryani

In [9]:
dir(myfood)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
s = '720'
s.isdigit()

True

In [11]:
s = '456sd'
s.isdigit()

False

In [12]:
myfood

'Piza, Burger, biryani'

In [13]:
myfood.index('Burger')

6

In [16]:
states = 29
text = 'Total states in India = '
text+states

TypeError: can only concatenate str (not "int") to str

In [17]:
text+str(states)

'Total states in India = 29'

In [18]:
s = 'let's learn python'
s

SyntaxError: unterminated string literal (detected at line 1) (269760691.py, line 1)

In [19]:
s = 'let\'s learn python'
s

"let's learn python"

In [20]:
s = 'hello "world"'
s

'hello "world"'

In [21]:
s = "hello "world""
s

SyntaxError: invalid syntax (2691634764.py, line 1)

In [22]:
s = "hello \"world\""
s

'hello "world"'

In [24]:
s = 'hey\tbro'
print(s)

hey	bro

In [25]:
s = 'hey\nbro'
print(s)

hey
bro

In [26]:
first = 'Sarfraz'
last = 'Khan'
print('he was founder of Code_X',first+' '+last)

he was founder of Code_X Sarfraz Khan

In [27]:
print(f'He was founder of Code_X {first} {last}')

He was founder of Code_X Sarfraz Khan

In [28]:
n = int(input("Enter a Number"))
s = input("Enter a Name")
if n>=18:
      print(f"{s} you are Eligible")
else: 
      print(f"Not Eligible but after {18-n} year you can vote")

Not Eligible but after 4 year you can vote

In [30]:
'''Create 3 variables to store street, city and country, now create address variable to store 
entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line'''

street = 'Raza Nagar Talkhapur Dumra '
city = 'Sitamarhi '
state = 'Bihar '
country = 'India '
address = street+city+state+country
print(address)

Raza Nagar Talkhapur Dumra Sitamarhi Bihar India

In [31]:
'''Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index'''

s = 'Earth revolves around the sun'
print(s[17:20])
print(s[-3:])

oun
sun

In [32]:
'''Create two variables to store how many fruits and vegetables you eat in a day. 
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables 
and fruits that you eat everyday. Use python f string for this.'''

vegetables = ('Potato, Onion, Capsicum')
fruits = ('Apple, Orange, Banana, Guava, Mango')
print(f"I eat {vegetables} vegetables and {fruits} fruits daily")

I eat Potato, Onion, Capsicum vegetables and Apple, Orange, Banana, Guava, Mango fruits daily

In [33]:
'''I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, 
the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original
strong with new ones and print the new string. Also try to do this in one line.'''

s = 'maine 200 banana khaye'
s = s.replace('200','10')
s = s.replace('banana','samosa')
print(s)

maine 10 samosa khaye

In [34]:
'''Write a program that can find area of a triangle. It should take base and height as an 
input from user and using that it should print an area of a triangle'''

base = 5
height = 10
area = 0.5*base*height
print(area)

25.0

In [35]:
'''Write a program that takes file name with extension as an input and prints just the 
file name without extension (you can assume that file extensions are always 3 character long)'''

s = 'hello.txt'
s = s.split('.')
print(s[0])

hello

In [36]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [40]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [41]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [44]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [46]:
x = input("Enter a String")
s = x[-1::-1]
if s == x:
      print("It is a palindrome")
else:
      print("It is not a palindrome")

It is a palindrome

In [49]:
#convert entire string to either lower or upper
x = input("Enter a String")
if s[:].upper()==s[::-1].upper():
      print("It is a palindrome")
else:
      print("It is not a palindrome")

It is a palindrome

In [2]:
#Plindrome
x = input("Enter a String")
s = x[-1::-1]
if s == x:
      print("It is a palindrome")
else:
      print("It is not a palindrome")

It is a palindrome

# List

In [2]:
'''Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this'''

lst = [2200,2350,2600,2130,2190]

#1. In Feb, how many dollars you spent extra compare to January?
print("In Feb, you spent",lst[1]-lst[0],"dollars extra compare to January") #150

#2. Find out your total expense in first quarter (first three months) of the year.
print("Your total expense in first quarter is",lst[0]+lst[1]+lst[2]) #7150 

#3. Find out if you spent exactly 2000 dollars in any month
print(lst[0]==2000 or lst[1]==2000 or lst[2]==2000 or lst[3]==2000 or lst[4]==2000) #False

#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
lst.append(1980) #lst = [2200,2350,2600,2130,2190,1980]
print("Expenses at the end of June:",lst) #[2200, 2350, 2600, 2130, 2190, 1980]

#5. You returned an item that you bought in a month of April and got a refund of 200$.
# Make a correction to your monthly expense list
lst[3]=lst[3]-200
print("Expenses after 200$ return in April:",lst) #[2200, 2350, 2600, 1930, 2190, 1980]

In Feb, you spent 150 dollars extra compare to January
Your total expense in first quarter is 7150
False
Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [3]:
'''2. You have a list of your favourite marvel super heros
 heros=['spider man','thor','hulk','iron man','captain america'] Using this list'''

heros=['spider man','thor','hulk','iron man','captain america']

# 1. Length of the list
print(len(heros)) #5

# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros) #['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

#3. You realize that you need to add 'black panther' after 'hulk',
#so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros) #['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

#4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange 
# (because he is cool).
#   Do that with one line of code.
heros[1:3]=['doctor strange']
print(heros) #['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

# 5. Sort the list in alphabetical order
heros.sort()
print(heros) #['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [8]:
#Write a Python program to sum all the items in a list.
lst = [1,2,3,4,5]
sum = 0
for i in lst:
    sum += i
print(sum)

15

In [5]:
#Write a Python program to multiply all the items in a list.
lst = [2,3,4,5,6]
mul = 1
for i in lst:
    mul *= i
print(mul)

720

In [7]:
# Write a Python program to get the smallest number from a list.
lst = [1,3,5,7,6]
min = lst[0]
for i in lst:
    if i < min:
        min = i
print(min)

1

In [1]:
#3. Write a Python program to get the largest number from a list.
lst = [4,3,5,7,8]
max = lst[0]
for i in lst:
      if i > max:
            max = i
print(max)

8

In [2]:
'''5. Write a Python program to count the number of strings from a given list of strings. 
The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2'''

lst = ['abc', 'xyz', 'aba', '1221']
ctr = 0
for lst in lst:
      if len(lst)>1 and lst[0]==lst[-1]:
            ctr += 1
print(ctr)

2

In [3]:
'''6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of
non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]'''

lst = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
lst.sort(key = lambda x: x[-1])
print(lst)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
#7. Write a Python program to remove duplicates from a list.
lst = [2,3,4,6,3,8,5,2,4,3]
lst1 = []
for i in range(len(lst)):
      if lst[i] not in lst1:
            lst1.append(lst[i])
print(lst1)

[2, 3, 4, 6, 8, 5]

In [10]:
#8. Write a Python program to check if a list is empty or not.
lst = [2,3,4,6,3,8,5,2,4,3]
#lst1 = []
if len(lst1) == 0:
      print("List is empty")
else:
      print("List is not empty")

List is empty

In [11]:
#9. Write a Python program to clone or copy a list.
lst = [2,3,4,6,3,8,5,2,4,3]
lst1 = lst
print(lst1)

[2, 3, 4, 6, 3, 8, 5, 2, 4, 3]

In [15]:
#10. Write a Python program to find the list of words that are longer than n from a given list of words.

n = int(input("Enter the value of n: "))

lst = ['abc', 'xyz', 'aba', '1221']
lst1 = []
for i in lst:
    if len(i) > n:
        lst1.append(i)
print(lst1)

['1221']

# If Condition

In [16]:
n = int(input("Enter a number"))

if n%2 == 0:
      print("Even Number")
else:
      print("Odd number")

Even Number

In [18]:
indian = ['samosa','kachori','dal','naan']
bangladesi = ['panta bhat','chorchori','fuchka']
america = ['chowmein','biryani','pizza','pasta']

dish = input("Enter a dish")

if dish in indian:
      print(f'{dish} is Indian')
elif dish in bangladesi:
      print(f'{dish} is Bangladeshi')
elif dish in america:
      print(f'{dish} is American')
else:
      print('Based on my limited knowledge, I do not know that dish{dish}')

samosa is Indian

In [19]:
'''Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]'''
#Write a program that asks user to enter a city name and it should tell which country the city belongs to

india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city = input("Enter a city")

if city in india:
      print(f'{city} is in India')
elif city in pakistan:
      print(f'{city} is in Pakistan')
elif city in bangladesh:
      print(f'{city} is in Bangladesh')
else:
      print('Based on my limited knowledge, I do not know that city {city}')

mumbai is in India

In [20]:
'''Write a program that asks user to enter two cities and it tells you if they both are in same country or not. 
For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka 
it should print "They don't belong to same country'''

india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city1 = input('Enter a city')
city2 = input("Enter a city")

if city in india:
      print(f'{city1} and {city2} both are in India')
elif city in pakistan:
      print(f'{city1} and {city2} both are in Pakistan')
elif city in bangladesh:
      print(f'{city1} and {city2} both are in Bangladesh')
else:
      print('Based on my limited knowledge, I do not know that city {city1} and {city2}')

mumbai and delhi both are in India

In [1]:
'''Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
1.Ask user to enter his fasting sugar level
2.If it is below 80 to 100 range then print that sugar is low
3.If it is above 100 then print that it is high otherwise print that it is normal'''

sugar = input("Enter your fasting sugar level")
sugar = float(sugar)
if sugar<80:
      print("Sugar is low")
elif sugar<100:
      print("Sugar is normal")
else:
      print("Sugar is high")

Sugar is normal

# For Loop

In [2]:
expenses = [1200,1500,1300,1700]
total = 0
for i in range(len(expenses)):
      expense = expenses[i]
      print(f'Month {i+1}, expenses are {expense}')
      total += expense
print('Toatal expenses :',total)

Month 1, expenses are 1200
Month 2, expenses are 1500
Month 3, expenses are 1300
Month 4, expenses are 1700
Toatal expenses : 5700

In [4]:
key_location = 'chair'
locations = ['sofa','garage','chair','table','dinning']

for loc in locations:
      if loc == key_location:
            print('Key found at : ',loc)
      else:
             print('Not found at : ',loc)

Not found at :  sofa
Not found at :  garage
Key found at :  chair
Not found at :  table
Not found at :  dinning

In [7]:
#print odd numbers b/w 1to10
for i in range(11):
      if i%2 == 0:
            continue
      print(i)

1
3
5
7
9

In [8]:
n = 0
while n<=10:
      print(n)
      n=n+1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
'''After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads'''

lst = ['heads','tails','tails','heads','tails','heads','heads','tails','tails','tails']
count = 0
for i in lst:
      if i == 'heads':
            count += 1
print(count)

4

In [5]:
#Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11,2):
    print(i*i)

1
9
25
49
81

In [4]:
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i*i)

1
9
25
49
81

In [13]:
'''3. Your monthly expense list (from Jan to May) looks like this,
```expense_list = [2340, 2500, 2100, 3100, 2980]```
Write a program that asks you to enter an expense amount and program
should tell you in which month that expense occurred. If expense is not
found then it should print that as well.'''
lst = ['January','February','March','April','May']
lst1 = [2340, 2500, 2100, 3100, 2980]

e = input("Enter expense amount: ")
e = int(e)

for i in range(len(lst1)):
      if e == lst1[i]:
            print(f'You spent {e} in {lst[i]}')
            break
      else:
            print(f'You didn\'t spend {e} in any month')

You didn't spend 2100 in any month
You didn't spend 2100 in any month
You spent 2100 in March

In [14]:
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break

if month != -1:
    print(f'You spent {e} in {month_list[month]}')
else:
    print(f'You didn\'t spend {e} in any month')

You spent 2100 in March

In [26]:
'''4. Lets say you are running a 5 km race. Write a program that,
    1. Upon completing each 1 km asks you "are you tired?"
    2. If you reply "yes" then it should break and print "you didn't finish the race"
    3. If you reply "no" then it should continue and ask "are you tired" on every km
    4. If you finish all 5 km then it should print congratulations message'''

for i in range(5):
      if i == 4:
            print('congratulations')
            break
      else:
            tired = input('are you tired?')
            if tired == 'yes':
                  print('you didn\'t finish the race')
                  break
            else:
                  continue

congratulations

In [18]:
for i in range(5):
    print(f"You run {i+1} miles") # i starts with zero hence adding 1
    tired = input("Are you tired? ")
    if tired == 'yes':
        break

if i == 4: # 4 because the index starts from 0
    print("Hurray! You are a rock star! You just finished 5 km race!")
else:
    print(f"You didn't finish 5 km race but hey congrats anyways! You still ran {i+1} miles")

You ran 1 miles
You ran 2 miles
You ran 3 miles
You ran 4 miles
You ran 5 miles
Hurray! You are a rock star! You just finished 5 km race!

In [19]:
'''5. Write a program that prints following shape
```
 *
 **
 ***
 ****
 *****'''
for i in range(1,6):
    s = ''
    for j in range(i):
        s += '*'
    print(s)

*
**
***
****
*****

# Function

In [1]:
lst = [2100,3400,3500]
lst1 = [200,500,700]

total = 0

for i in range(len(lst)):
      total = total + lst[i] - lst1[i]

print(total)

7600

In [4]:
lst = [2100,3400,3500]
lst1 = [200,500,700]

total = 0

for item in lst:
      total = total+item

print(total)

total = 0

for item in lst1:
      total= total+item

print(total)

9000
1400

In [1]:
#using function
def sum_lst(lst):
      total = 0
      for item in lst:
            total = total + item
      return total

lst = [2100,3400,3500]
lst1 = [200,500,700]

toms_total = sum_lst(lst)
jons_total = sum_lst(lst1)

print(toms_total)
print(jons_total)

9000
1400

In [2]:
def sum(a,b):
      total = a+b
      return total
n = sum(5,6)
print('Total',n)

Total 11

In [3]:
'''1.Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. 
Equation of an area of a triangle is,
area = (1/2)*base*height '''
def calculate_area(base,height):
      area = (1/2)*base*height
      return area
a = calculate_area(5,10)
print(a)

25.0

In [8]:
def calculate_area(dimension1,dimension2,shape = 'Triangle'):
      if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
      else:
            #print("Error: Input shape is neither triangle nor rectangle.")
            #area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
            area=0
      return area

base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

# Calculate area of a triangle without supplying shape argument in a function call
triangle_area=calculate_area(base,height) # Here third argument is missing
print("Area of triangle with no shape supplied: ",triangle_area)

Area of triangle is: 25.0
Area of triangle with no shape supplied:  0

In [9]:
'''2.Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". 
Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape'''

def calculate_area(dimension1,dimension2,shape="triangle"):
      if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
      elif shape=="rectangle":
        area=dimension1*dimension2 # Rectangle area is: Length*Width
      else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
      return area

# Calculate area of triangle whose base is 10 and height is 5
base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

# Calculate area of a rectangle whose length is 20 and width is 30
length=20
width=30
rectangle_area=calculate_area(length,width,"rectangle")
print("Area of rectangle is:",rectangle_area)

# Calculate area of a triangle without supplying shape argument in a function call
triangle_area=calculate_area(base,height) # Here third argument is missing
print("Area of triangle with no shape supplied: ",triangle_area)

Area of triangle is: 25.0
Area of rectangle is: 600
Area of triangle with no shape supplied:  25.0

In [14]:
'''' 3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

 *
 **
 ***

 if input is 4 then it should print '''
 
def print_pattern(n= 5):
      for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)
print("Print pattern with input=3")
print_pattern(3)

Print pattern with input=3
*
**
***

In [15]:
''' *
 **
 ***
 ****

 Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)'''
def print_pattern(n= 5):
      for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)
        
print("Print pattern with input=4")
print_pattern(4)

Print pattern with input=4
*
**
***
****

In [18]:
def print_pattern(n):
      for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)
        
print("Print pattern with no input number")
print_pattern(5) # Not supplying any input will use default argument which is 5

Print pattern with no input number
*
**
***
****
*****

# Function

In [8]:
'''1.Write a function called calculate_area that takes base and height as an input and returns and 
area of a triangle.Equation of an area of a triangle is,
area = (1/2)*base*height.'''

def calculate_area(base,height):
      area = (1/2)*base*height
      return area
a = calculate_area(5,10)
print(a)

25.0

In [4]:
'''2.Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". 
Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape'''

def calculate_area(dimension1,dimension2,shape="triangle"):
      if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
      elif shape=="rectangle":
        area=dimension1*dimension2 # Rectangle area is: Length*Width
      else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
      return area
# Calculate area of triangle whose base is 10 and height is 5
base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

# Calculate area of a rectangle whose length is 20 and width is 30
length=20
width=30
rectangle_area=calculate_area(length,width,"rectangle")
print("Area of rectangle is:",rectangle_area)

# Calculate area of a triangle without supplying shape argument in a function call
triangle_area=calculate_area(base,height) # Here third argument is missing
print("Area of triangle with no shape supplied: ",triangle_area)

Area of triangle is: 25.0
Area of rectangle is: 600
Area of triangle with no shape supplied:  25.0

In [6]:
'''3.Write a function called print_pattern that takes integer number as an argument and prints following 
pattern if input number is 3,
*
**
***
if input is 4 then it should print'''
def print_pattern(n= 5):
      for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)
print("Print pattern with input=3")
print_pattern(3)

Print pattern with input=3
*
**
***

In [7]:
'''if input is 4 then it should print

*
**
***
****
Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)'''
def print_pattern(n= 5):
      for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)
        
print("Print pattern with input=4")
print_pattern(4)

Print pattern with input=4
*
**
***
****

# Dictionary

In [ ]:
'''1.We have following information on countries and their population (population is in crores),

Country	Population
1.China	143
2.India	136
3.USA	      32
4.Pakistan	21

1.Using above create a dictionary of countries and its population
2.Write a program that asks user for three type of inputs,
a.print: if user enter print then it should print all countries with their population in this format,
           china==>143
           india==>136
           usa==>32
           pakistan==>21

b.add: if user input add then it should further ask for a country name to add. If country already exist 
       in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for
       population and add that new country/population in our dictionary and print it
c.remove: when user inputs remove it should ask for a country to remove. If country exist in our 
          dictionary then remove it and print new dictionary using format shown above in (a). 
          Else print that country doesn't exist!
d.query: on this again ask user for which country he or she wants to query. When user inputs that country
         it will print population of that country.'''