# List

# 26/09/2023

In [1]:
emptyList = []
print(type(emptyList))

<class 'list'>

In [4]:
lst =['one','two','Pratyush','Three']
print(lst)
print(type(lst))

['one', 'two', 'Pratyush', 'Three']
<class 'list'>

In [2]:
lst2=[1,2,3]
print(lst2)
print(type(lst2))
print(id(lst2))

[1, 2, 3]
<class 'list'>
2748681525568

In [13]:
lst3=[[1,2,3],[4,5]]
print(lst3[0])
print(lst3[0][1])
print(type(lst3))
print(id(lst3))

[1, 2, 3]
2
<class 'list'>
1908560372928

In [16]:
lst4=[1,'Sarfraz',24,1.1]
print(lst4)
print(type(lst4))
print(type(lst4[1]))

[1, 'Sarfraz', 24, 1.1]
<class 'list'>
<class 'str'>

In [16]:
lst5=['one','two','three','four','five']
print(len(lst5)) #5
lst5.append('Six') #['one','two','three','four','five','six']
lst5.append('seven') #['one','two','three','four','five','six',seven]
lst5.append(10) #['one','two','three','four','five','six','seven',10]
lst5.append([12,13]) #['one','two','three','four','five','six','seven',10,[12,13]]
print(lst5) #['one','two','three','four','five','six','seven',10,[12,13]]
print(len(lst5)) #9
print(lst5[8][1]) #[12,13] one
lst5[8].append(15) #['one','two','three','four','five','six','seven',10,[12,13,15]]
print(lst5)
print(id(lst5))
print(type(lst5)) 
print(type(lst5[7])) #integer
print(len(lst5))
lst5.insert(1,2) #['one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 10, [12, 13, 15]]
print(lst5)
lst5.insert(100,2) #like append last mai jur jayega
print(lst5)
lst5.insert(-2,2) # insert ke tarha behave karega
print(lst5)
lst5.insert(-200,2) #like a insert behave
print(lst5)
lst5.insert(9,4)
print(lst5)
print(len(lst5))
lst5.insert(13,6)
print(lst5)

5
['one', 'two', 'three', 'four', 'five', 'Six', 'seven', 10, [12, 13]]
9
13
['one', 'two', 'three', 'four', 'five', 'Six', 'seven', 10, [12, 13, 15]]
2748681678656
<class 'list'>
<class 'int'>
9
['one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 10, [12, 13, 15]]
['one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 10, [12, 13, 15], 2]
['one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 10, 2, [12, 13, 15], 2]
[2, 'one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 10, 2, [12, 13, 15], 2]
[2, 'one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 4, 10, 2, [12, 13, 15], 2]
14
[2, 'one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 4, 10, 2, [12, 13, 15], 6, 2]

In [20]:
lst5.insert(17,8)
print(lst5)
print(len(lst5))

[2, 'one', 2, 'two', 'three', 'four', 'five', 'Six', 'seven', 4, 10, 2, [12, 13, 15], 6, 8, 8, 2, 8, 8]
19

In [12]:
lst6 = [1,2,3]
lst6.insert(4,5)
print(lst6)

[1, 2, 3, 5]

# 28/09/2023

In [21]:
#syntax: lst.remove(x)
lst=[1,2,3,'four','five']
lst.remove('four') #it will remove first occurenece of 'two' in a given list
print(lst)

[1, 2, 3, 'five']

In [24]:
lst=['one','two','three','four']
lst2=[1,2,3]
name='abc hello'

#extend will join the list with list1

lst.extend(lst2)
lst.extend(name)
print(lst)
#lst.extend(35) can't and integer with help of extend function

['one', 'two', 'three', 'four', 1, 2, 3, 'a', 'b', 'c', ' ', 'h', 'e', 'l', 'l', 'o']

In [7]:
# List Delete

#del is a keyword

#del to remove item based on index position
#lst = ['one','two','three','four','five']
lst = [1,2,3,4,5,6]

del lst[4]
print(lst)

y=lst.pop(3)
print(y)
print(lst)
#or we can use pop()method
#lst.pop(1)
print(lst.pop())
print(lst)

[1, 2, 3, 4, 6]
4
[1, 2, 3, 6]
6
[1, 2, 3]

In [29]:
#keyword 'in' is used to test if an item is in a list

lst = ['one','two','three','four','five']

if 'two' not in lst:
      print('AI')
else:
      print('Data')
      
#keyword "not" can combined with 'in'
if 'six' not in lst:
      print('ML')

Data
ML

In [8]:
#reverse is reverse the entire list

lst = ['one','two','three','four','five']
lst.reverse()
print(lst)

['five', 'four', 'three', 'two', 'one']

In [11]:
#create a list with numbers
numbers = [3,1,6,2,4,5,7,8]
sorted_lst = sorted(numbers) #ascending order
sorted_lst1 = sorted(numbers, reverse=True) #decending order
print("Sorted list :", sorted_lst)
print("Sorted list :", sorted_lst1)

#original list remain unchanged

print("Original list :",numbers)

Sorted list : [1, 2, 3, 4, 5, 6, 7, 8]
Sorted list : [8, 7, 6, 5, 4, 3, 2, 1]
Original list : [3, 1, 6, 2, 4, 5, 7, 8]

In [13]:
#Print a list in reverse sorted order
number = [3,1,6,2,8]

print("Reverse sorted list : ", sorted(number, reverse=True))

#original list remain unchanged

print("Original list :", number)

Reverse sorted list :  [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [14]:
lst = [1,20,5,5,4,2]

#sort the list and startedthe itself
lst.sort(reverse = True)
print("sorted List : ",lst)

sorted List :  [20, 5, 5, 4, 2, 1]

# Home Work

In [15]:
lst = [1,20,True,5,12.3,'Sarfraz']
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
lst = [1,20,True,5,12.3,]
print(lst.sort()) #Sort list with element of different datatypes.
print(lst)
x=True+True
print(x)

None
[1, True, 5, 12.3, 20]
2

In [22]:
lst=['Sarfraz','Ajay','Zafar','Prince']
print(lst.sort())

None

In [23]:
lst=['Sarfraz','Ajay','Zafar','Prince',10.2,True]
print(lst.sort())

TypeError: '<' not supported between instances of 'float' and 'str'

In [24]:
lst=['Sarfraz','Ajay','Zafar','Prince',10.2]
print(lst.sort())

TypeError: '<' not supported between instances of 'float' and 'str'

# 30/09/2023

In [4]:
lst = [3,7,9,11,23,25]
lst.remove(7)
print(lst)
lst.remove(11)
print(lst)
lst.append(28)
print(lst)

[3, 9, 11, 23, 25]
[3, 9, 23, 25]
[3, 9, 23, 25, 28]

In [1]:
lst = [1,2,3,4,5]
abc = lst
abc.append(6)
lst.append(7)
#print Original list
print("Original List: ",lst)
print("Original list: ", abc)
#print(id(lst))
#print(id(abc))

Original List:  [1, 2, 3, 4, 5, 6, 7]
Original list:  [1, 2, 3, 4, 5, 6, 7]

# String Split to Create a list

In [2]:
#let's take string
s="my name is sarfraz"
slst=s.split('a')
print(slst)

['my n', 'me is s', 'rfr', 'z']

In [4]:
s = "Tah is isappliaed"
print(s.split('a')) # default split is white character: space or tab
#!print(split_lst)

['T', 'h is is', 'ppli', 'ed']

# List Slicing

In [2]:
lst = [10,20,30,40,50,60,70,80,90]
print(lst[2:-3:2])
print(lst[::-3])
print(lst[::3])

[30, 50]
[90, 60, 30]
[10, 40, 70]

# 03/10/2003

# List Extend using "+"

In [8]:
lst1 = [1,2,3,4]
lst2 = ['verma','naveeen','murali','brahma']

new_lst = lst1 + lst2
new_lst1 = lst1*4
print(new_lst)
print(new_lst1)

[1, 2, 3, 4, 'verma', 'naveeen', 'murali', 'brahma']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [5]:
lst1 = [1,2,3,4]
lst2 = ('verma','naveeen','murali','brahma')
lst1+=lst2
print(lst1)

[1, 2, 3, 4, 'verma', 'naveeen', 'murali', 'brahma']

In [9]:
lst1 = [1,2,3,4]
lst2 = ['verma','naveeen','murali','brahma']
lst2+=lst1
print(lst2)

['verma', 'naveeen', 'murali', 'brahma', 1, 2, 3, 4]

# List Count

In [11]:
numbers = [1,2,3,1,3,4,2,5]

#frequency of 9 in a list
print(numbers.count(9))

#frequency of 3 in a list
print(numbers.count(3))

#frequency of 1 in a list
print(numbers.count(1))

0
2
2

# List Looping

In [12]:
#Loop through a list

lst = ['one','two','three','four']

for ele in lst:
      print(ele)

one
two
three
four

In [13]:
for i in range(len(lst)):
      print(lst[i])

one
two
three
four

# Question

In [21]:
lst = [3,5,7,2,1,9,5,31,99,2]
max1 = lst[0]
for i in lst:
      if max1<i:
            max1=i
print("Maximum value of lst is",max1)

Maximum value of lst is 99

In [28]:
lst = [3,5,7,9,2,1]
lst2 = [3,7,2,5,9,7]
lst3 = [3,5,7,9,2,1]

for i in lst:
      if lst==lst3:
            print("Yes")
      else:
            print("No")

Yes
Yes
Yes
Yes
Yes
Yes

In [1]:
lst1 = [1,2,3,4,5]
lst2 = [1,2,3,4,5]
var = 1
for i in range(len(lst1)):
      if lst1[i]!=lst2[i]:
            var=0
            break
if var==1:
      print("Yes")
else:
      print("No")

Yes

In [3]:
lst1 = [1,2,3,4,5]
lst2 = [2,4,3,5,1]
val = 1
for i in range(len(lst1)):
      if lst1[i]!=lst2[i]:
            val=0
            
if val == 1:
      print("Yes")
else:
      print("No")

No

In [42]:
lst = [3,5,7,2,1,9,5,31,99,2]
min1 = lst[0]
for i in lst:
      if min1>i:
            min1=i
print("Minimum value of lst is",min1)

Minimum value of lst is 1

In [53]:
lst = [3,5,7,2,1,9,5,31,99,2]
min2 = lst[3]
for i in lst:
      if min2>i:
            min2>i
print("Minimum value of lst is",min2)

Minimum value of lst is 2

In [48]:
lst = [3,5,7,2,1,9,5,31,99,2]
min3 = lst[0]
for i in lst:
      if min3<=i:
            min3<=i
print("Minimum value of lst is",min3)

Minimum value of lst is 3

# 05/10/2023

In [3]:
lst = [2,4,3,54,7,8,22]
if lst[0]>lst[1]:
      max1=lst[0]
      max2=lst[1]
else:
      max1=lst[1]
      max2=lst[0]
for i in range(2,len(lst)):
      if lst[i]>max1:
            max2=max1
            max2=lst[i]
      elif lst[i]>max2:
            max2=lst[i]
print(max2)

22

In [1]:
lst = [3,7,5,2,1,3,2]
sum_even = 0
sum_odd = 0

for i in range(len(lst)):
      if i%2==0:
            sum_even+=lst[i]
      else:
            sum_odd+=lst[i]
print("Even sum ",sum_even,"odd sum ",sum_odd)

Even sum  11 odd sum  12

In [15]:
# dublicat value removing
lst = [1,2,3,4,5,2,4,7]
lst1 = []
for i in range(len(lst)):
      if lst[i] not in lst1:
            lst1.append(lst[i])
print(lst1)

[1, 2, 3, 4, 5, 7]

In [18]:
lst=[3,5,3,6,4,6,3,8,9]
lst1=[]
for i in lst:
      if i not in lst1:
            lst1.append(i)
print(lst1)

[3, 5, 6, 4, 8, 9]

In [20]:
lst = [3,5,3,6,4,6,3,8,9]
lst1 = [2,5,3,7,8,6,11]
lst2= []
for i in lst:
      if i not in lst2:
            lst2.append(i)
for i in lst1:
      if i not in lst2:
            lst2.append(i)
print(lst1)

[2, 5, 3, 7, 8, 6, 11]

In [1]:
lst = [3,5,3,6,4,6,3,8,9]
lst2 = [2,5,3,7,8,6,11]
lst1= []
for i in lst:
      if i not in lst1:
            lst1.append(i)
for i in lst2:
      if i not in lst1:
            lst1.append(i)
print(lst1)

[3, 5, 6, 4, 8, 9, 2, 7, 11]

In [2]:
#intersection
lst = [3,5,3,6,4,6,3,8,9]
lst1 = [2,5,3,7,8,6,11]
lst2 = []
for i in lst:
      if i in lst1 and i not in lst2:
            lst2.append(i)
print(lst2)

[3, 5, 6, 8]

# 07/10/2023

In [ ]:
# Swap a list
lst = [1,3,5,7,2,11,5,8]
for i in range(len(lst)):

In [3]:
lst = [1,3,4,2,3]
sum_lst=0
mul_lst=1

for i in lst:
      sum_lst+=i
      mul_lst*=i
print(mul_lst)
print(sum_lst)

72
13

In [4]:
x=[2,3,5,6,2,7,8,9]
mul=1
add=0
for i in x:
      mul*=i
      add+=i
print(mul)
print(add)

181440
42

In [5]:
# You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

# I/p=> list1 = [5, 10, 15, 20, 25, 50, 20]
# O/p=>   [5, 10, 15, 200, 25, 50, 20]

lst = [5,10,15,20,25,50,20]

for i in range(len(lst)):
      if lst[i]==20:
            lst[i]=200
            break
print(lst)

[5, 10, 15, 200, 25, 50, 20]

In [6]:
lst = [5,10,15,20,25,50,20]

for i in range(len(lst)):
      if lst[i]==20:
            lst[i]=200
            
print(lst)

[5, 10, 15, 200, 25, 50, 200]

In [9]:
# Write a Python program that will replace the values of the list if the element of the list is divisible by 3 then it replaces it with “Fizz” and if the element is divisible by 5 then it replaces it with “buzz” and if the element is divisible by both 3 and 5 then it prints “FizzBuzz”.
# Input => [1,2,3,4,5,6,7,8,11,15,17,30]
# Output=>[1,2,”Fizz”,4,”Buzz”,”fizz”,7,8,11,”FizzBuzz”,17,”FizzBuzz”]

# input lene ke liye :
# x=eval(input("Enter a lst"))

lst = [1,2,3,4,5,6,7,8,11,15,17,30]

for i in range(len(lst)):
      if lst[i]%3==0 and lst[i]%5==0:
            lst[i]="fizzbuzz"
      elif lst[i]%3==0:
            lst[i]="Fizz"
      elif lst[i]%5==0:
            lst[i]="Buzz"
print(lst)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 11, 'fizzbuzz', 17, 'fizzbuzz']

In [10]:
x=eval(input("Enter a lst"))
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 4, 5, 6]

In [22]:
# Write a program that takes a list of integers as input and removes all even numbers from the list.
# Sample List:[1,4,3,6,5,8,9]
# Expected Output:[1,3,5,9]

lst=[1,4,3,6,5,8,9,11]
lst1=[]

for i in lst:
      if i%2!=0:
            lst1.append(i)
print(lst1)

[1, 3, 5, 9, 11]

In [24]:
lst=[1,4,3,6,5,8,9,11]

for i in lst:
      if i%2==0:
            lst.remove(i)
print(lst)

[1, 3, 5, 9, 11]

In [2]:
lst=[1,4,3,6,5,8,9,11]
i=0
for x in range(len(lst)):
      #print(len(lst), i)
      if lst[i]%2==0:
            lst.remove(lst[i])
      else:
            i=i+1
print(lst)

[1, 3, 5, 9, 11]

In [1]:
lst = [1,4,10,3,6,5,8,9,10,10,11]
for x in range(len(lst)-1,-1,-1):
      if lst[x]%2==0:
            lst.remove(lst[x])
print(lst)

[1, 3, 5, 9, 11]

# 10/10/2023

In [8]:
# Given a Python list, write a program to remove all occurrences of item 20.
# Input=>list1 = [5, 20, 15, 20, 25, 50, 20]
# Output=>[5, 15, 25, 50]

lst = [5, 20, 15, 20, 25, 50, 20]
for i in range(len(lst)-1,-1,-1):
      if lst[i]==20:
            lst.remove(lst[i])
print(lst)

[5, 15, 25, 50]

In [7]:
lst = [5, 20, 15, 20, 25, 50, 20]
for i in lst:
      if i==20:
            lst.remove(i)
print(lst)

[5, 15, 25, 50]

In [17]:
lst = [5, 20, 15, 20, 25, 50, 20]
print(lst.count(20))

3

In [29]:
#Write a program that takes a list of integers as input and prints the list after replacing each element with the product of all other elements (excluding itself).
# Input=>[1,2,3,4]
# Output=>[24,12,8,6]

lst=[1,2,3,4]
lst1=[]
mul = 1
for i in range(len(lst)):
      lst[i]*=mul
      lst.append(lst1)
print(lst1)

[]

# List Comprehension

In [20]:
lst=[-3,5,7,-2,1,5,-8]
lst1=[i for i in lst if i>0 ]
print(lst1)

[5, 7, 1, 5]

In [24]:
lst=[1,4,10,3,6,5,8,9,10,10,11]
lst1=[i for i in lst if i%2!=0]
print(lst1)

[1, 3, 5, 9, 11]

In [25]:
lst=[1,4,10,3,6,5,8,9,10,10,11]
lst1=[lst[i] for i in range(len(lst)) if lst[i]%2==0 ]
print(lst1)

[4, 10, 6, 8, 10, 10]

In [27]:
# for printing the common element of lst and lst2
lst=[-3,5,7,-2,1,5]
lst2=[5,3,7,1,11,5]
lst3=[i for i in lst if i in lst2]
print(lst3)

[5, 7, 1, 5]

# Home Work of list

In [1]:
# 1) Write a Python program which will give me the list sum of digits of list no
# Input : [12, 67, 98, 34]
# Output : [3, 13, 17, 7]

lst = [12, 67, 98, 34]
num = 1
sum = 0

for i in range(len(lst)):
      sum+=num
      num//=10
print(lst)

[12, 67, 98, 34]

In [1]:
# 2) Given a list, print the value obtained after multiplying all numbers in a Python list.
#Input: list1 = [1, 2, 3]
#Output: 6
lst = [1, 2, 3]
mul=1
for i in range(len(lst)):
      mul *= lst[i]
print(mul)

6

In [2]:
# 3) Write a Python program that takes a list as input and gives the smallest second smallest,largest, and second largest value in the list.
lst = [3,5,7,2,1,9,5,31,99,2]
max1 = lst[0]
for i in lst:
      if max1<i:
            max1=i
print("largest value of lst is",max1)

largest value of lst is 99

In [4]:
# 2nd Largest
lst = [2,4,3,54,7,8,22]
if lst[0]>lst[1]:
      max1=lst[0]
      max2=lst[1]
else:
      max1=lst[1]
      max2=lst[0]
for i in range(2,len(lst)):
      if lst[i]>max1:
            max2=max1
            max2=lst[i]
      elif lst[i]>max2:
            max2=lst[i]
print("Second largest value of list",max2)

Second largest value of list 22

In [5]:
# Smallest
lst = [3,5,7,2,1,9,5,31,99,2]
min1 = lst[0]
for i in lst:
      if min1>i:
            min1=i
print("smallest value of lst is",min1)

smallest value of lst is 1

In [7]:
# Second Smallest
lst = [3,5,7,2,1,9,5,31,99,2]
min2 = lst[3]
for i in lst:
      if min2>i:
            min2>i
print("Second Smallest value is",min2)

Second Smallest value is 2

In [8]:
# 4) You have given a Python list. Write a program to find value 20 in the list,and if it is present, replace it with 200. Only update the first occurrence of an item.
# I/p=> list1 = [5, 10, 15, 20, 25, 50, 20]
# O/p=> [5, 10, 15, 200, 25, 50, 20]
lst = [5,10,15,20,25,50,20]

for i in range(len(lst)):
      if lst[i]==20:
            lst[i]=200
            break
print(lst)

[5, 10, 15, 200, 25, 50, 20]

In [9]:
# 5. Given a Python list, write a program to remove all occurrences of item 20.
# Input=>list1 = [5, 20, 15, 20, 25, 50, 20]
# Output=>[5, 15, 25, 50]
lst = [5, 20, 15, 20, 25, 50, 20]
for i in lst:
      if i==20:
            lst.remove(i)
print(lst)

[5, 15, 25, 50]

In [10]:
# 6) Write a Python program to remove duplicates from a list.
# Input=>[2,3,4,6,3,8,5,4]
# output=>[2,3,4,6,8,5]
lst = [2,3,4,6,3,8,5,4]
lst1 = []
for i in range(len(lst)):
      if lst[i] not in lst1:
            lst1.append(lst[i])
print(lst1)

[2, 3, 4, 6, 8, 5]

In [1]:
#7. Write a Python program to change the position of every n-th value to the (n+1)th in a list.
# Sample list: [0,1,2,3,4,5]
# Expected Output: [1, 0, 3, 2, 5, 4]
lst = [0,1,2,3,4,5]
for i in range(0,len(lst)-1,2):
      lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[1, 0, 3, 2, 5, 4]

In [12]:
# 8. Write a Python program to convert a list of multiple integers into a single integer.
# Sample list: [1,2,4,3, 5,0]
# Expected Output: 124350
lst = [1,2,4,3,5,0]
for ele in lst:
      print(ele,end="")

124350

In [16]:
# 9. Write a Python program to replace the last element in a list with another list.
#Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]
lst=[1, 3, 5, 7, 9, 10] 
lst1=[2, 4, 6, 8]
lst2=[]
for i in lst:
      if i not in lst2:
            lst2.append(i)
for i in lst1:
      if i not in lst2:
            lst2.append(i)
print(lst2)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

In [5]:
# 10. Write a Python program to find the list in a list of lists whose sum of elements is the highest.
# Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
# Expected Output: [10, 11, 12]
lst = [1,2,3], [4,5,6], [10,11,12], [7,8,9]
#print(max(lst, key=sum ))
x = 0
sum = 0
for i in range(len(lst)):
      max_sum=0
      for j in range(len(lst[i])):
            max_sum+=lst[i][j]
      if max_sum>sum:
            sum = max_sum
            x = i
print(lst[x])

[10, 11, 12]

In [21]:
lst = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
x = 0
sum = 0
for i in range(len(lst)):
      cur_sum=0
      for j in range(len(lst[i])):
            cur_sum+=lst[i][j]
      if cur_sum>sum:
            sum = cur_sum
            x = i
print(lst[x])

[10, 11, 12]

In [2]:
# 11. Write a program that takes a list of integers as input and removes all even numbers from the list.
# Sample List:[1,4,3,6,5,8,9]
# Expected Output:[1,3,5,9]

lst=[1,4,3,6,5,8,9]
for i in lst:
      if i%2==0:
            lst.remove(i)
print(lst)

[1, 3, 5, 9]

In [35]:
# 12. Write a program that takes a list of integers as input and finds the sum of all the elements at even indices (0-based index).
# Sample List:[1,2,3,4,5,6,7,8,9]
# Sample Output =>Sum of elements at even indices: 25
lst = [1,2,3,4,5,6,7,8,9]

TypeError: 'int' object is not callable

In [1]:
# 13. Write a Python program that will replace the values of the list if the element of thevlist is divisible by 3 then it replaces it with “Fizz” and if the element is divisible by 5 then vit replaces it with “buzz” and if the element is divisible by both 3 and 5 then it prints “FizzBuzz”.
# Input => [1,2,3,4,5,6,7,8,11,15,17,30]
# Output=>[1,2,”Fizz”,4,”Buzz”,”fizz”,7,8,11,”FizzBuzz”,17,”FizzBuzz”

lst = [1,2,3,4,5,6,7,8,11,15,17,30]

for i in range(len(lst)):
      if lst[i]%3==0 and lst[i]%5==0:
            lst[i]="fizzbuzz"
      elif lst[i]%3==0:
            lst[i]="Fizz"
      elif lst[i]%5==0:
            lst[i]="Buzz"
print(lst)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 11, 'fizzbuzz', 17, 'fizzbuzz']

In [29]:
# 14.Write a program that takes a list of integers as input and prints the list after replacing each element with the product of all other elements (excluding itself).
#Input=>[1,2,3,4]
#Output=>[24,12,8,6]
lst = [1,2,3,4]
lst1=[]
for i in range(len(lst)):
      prod=1
      for j in range(len(lst)):
            if i!=j:
                  prod*=lst[j]
      lst1.append(prod)
print(lst1)

[24, 12, 8, 6]

# 14/10/2023

In [7]:
#Count only unique values inside a list
#Input = [1,2,2,5,8,4,4,8]
#Output=5
lst = [1,2,1,2,5,8,4,4,8]
#print(lst.count(5))
lst1 = []
count = 0
for i in range(len(lst)):
      if lst[i] not in lst1:
            lst1.append(lst[i])

print(len(lst1))

#print("Unique Values :",y)

5

In [ ]:
# Product of elements of list excluding duplicates, product of only unique elements of list 
# Input : [1,3,5,6,3,5,6,1]
# Output : 90

In [20]:
# Remove empty list from a list and the resulting list should not contain any empty list 
#Input =[5,6,[],3,[],[],9]
#Output = [5,6,3,9]
lst = [5,6,[],3,[],[],9]
lst1=[]
for i in lst:
      if i!=[]:
            lst1.append(i)
print(lst1)

[5, 6, 3, 9]

In [1]:
# Write a Python program to sum all the items in a list.
lst = [10,2,4,8]
add = 0
for i in lst:
      add+=i
print(add)

24

In [3]:
# Write a Python program to multiply all the items in a list.
lst = [2,6,3,5]
mul = 1
for i in lst:
      mul*=i
print(mul)

180

In [4]:
# Write a Python program to get the largest number from a list.
lst = [3,2,8,99,10,22,12,76]
max = lst[0]
for i in lst:
      if max<i:
            max=i
print("Largest number",max)

Largest number 99

In [9]:
# 2nd largest number
lst = [2,8,99,10,22,12,76]
if lst[0]>lst[1]:
      max1=lst[0]
      max2=lst[1]
else:
      max1=lst[1]
      max2=lst[0]
      for i in range(2,len(lst)):
            if lst[i]>max1:
                  max2=max1
                  max2=lst[i]
            elif lst[i]>max2:
                  max2=lst[i]
print("2nd Largest number",max2)

2nd Largest number 76

In [11]:
#  Write a Python program to get the smallest number from a list.
lst = [2,8,99,10,22,12,76]
min = lst[0]
for i in lst:
      if min>i:
            min=i
print("Smallest number",min)

Smallest number 2

In [22]:
# 2nd Smallest
lst = [2,1,99,0,22,12,76]
min = lst[1]
for i in lst:
      if min>i:
            min=i
print("Smallest number",min)

Smallest number 0

In [4]:
# Write a Python program to count the number of strings from a given list of strings. 
# The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2
lst = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in lst:
      if len(i)>=1 and i[0]==i[-1]:
            count+=1
print(count)

2

In [6]:
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty
# tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
lst = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(sorted(lst))

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [2]:
#Write a Python program to remove duplicates from a list.
lst = [2,3,4,6,3,8,5,4]
lst1 = []
for i in range(len(lst)):
      if lst[i] not in lst1:
            lst1.append(lst[i])
print(lst1)

[2, 3, 4, 6, 8, 5]

In [3]:
#Write a Python program to check if a list is empty or not.
lst = []
if len(lst) == 0:
      print("List is Empty")
else:
      print("List is Not Empty")

List is Empty

In [4]:
#Write a Python program to clone or copy a list.
lst = [10,22,44,3,4]
print("Original List",lst)
lst1 = lst[:]
print(lst1)

Original List [10, 22, 44, 3, 4]
[10, 22, 44, 3, 4]

In [1]:
# Write a Python program to find the list of words that are longer than n from a given list of words.
s = "The quick brown fox jumps over the lazy dog"
n = 3
s1 = []
s2 = s.split(" ")
for i in s2:
      if len(i)>n:
            s1.append(i)
print(s1)

['quick', 'brown', 'jumps', 'over', 'lazy']

In [8]:
#Write a Python function that takes two lists and returns True if they have at least one common member.
lst1 = [1,2,3,4,5]
lst2 = [5,6,7,8,9]
for element in lst1:
      if element in lst2:
            print(True)
      else:
            print(False)

False
False
False
False
True

In [9]:
lst1 = [1,2,3,4,5]
lst2 = [5,6,7,8,9]
result = False
for i in lst1:
      for  j in lst2:
            if i==j:
                  result = True
print(result)

True

In [10]:
#12.Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
lst = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del lst[0:4:5]
print(lst)

['Green', 'White', 'Black', 'Pink', 'Yellow']

In [ ]:
'''13. Write a Python program to generate a 3*4*6 3D array whose each element is *.'''

In [1]:
'''14. Write a Python program to print the numbers of a specified list after removing even numbers from it.'''
lst = [7, 8, 120, 25, 44, 20, 27]

for i in lst:
      if i%2==0:
            lst.remove(i)
print(lst)

[7, 120, 25, 20, 27]

In [2]:
lst = [7, 8, 120, 25, 44, 20, 27]
lst1 = []

for i in lst:
      if i%2!=0:
            lst1.append(i)
print(lst1)

[7, 25, 27]

In [2]:
#append
l = [1,2,3]
l.append(4)
print(l)

[1, 2, 3, 4]

In [3]:
#extend 
l = [1,2,3]
l1 = [4,5,6]
l.extend(l1)
print(l)

[1, 2, 3, 4, 5, 6]

In [5]:
#insert
l=[1,2,3]
l.insert(1,5)
print(l)

[1, 5, 2, 3]

In [6]:
#remove
l = [1,2,3,4]
l.remove(2)
print(l)

[1, 3, 4]

In [7]:
#pop
l = [1,2,3,4,5]
l.pop(3)
print(l)

[1, 2, 3, 5]

In [8]:
#sort
l = [2,5,3,4,1]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [10]:
#reverse
l = [1,2,3,4,5]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [18]:
#count
l = [1,2,3,4,5]
#l.count()
print(l.count(5))

1