In [ ]:
class Person :
  pass


obj = Person()

print(type(obj))
print(obj)

<class '__main__.Person'>
<__main__.Person object at 0x7e081bb89a20>

In [ ]:
class Person :
  name = "Vishwa"
  age = 99

per = Person()

print(per.name)
print(per.age)

Vishwa
99

In [ ]:
per.hobby = "Cricket"
per.loveName = "Babu"

print(per.loveName)

obj = Person()
print(obj.loveName)

Babu

AttributeError: 'Person' object has no attribute 'loveName'

In [ ]:
class Person :
  name = "Vishwa"
  age = 99

per1 = Person()
per2 = Person()
per3 = Person()

print(per1.name)
print(per2.name)
print(per3.name)

Vishwa
Vishwa
Vishwa

In [ ]:
class Person :
  #initializer/constructor for objects
  def __init__(self, name, age):
    self.name= name
    self.age = age

per1 = Person("Vishwa", 99)

per2 = Person("Shivani", 97)


print(per1.name)
print(per2.name)

Vishwa
Shivani

In [ ]:
class Person :
  def __init__(self, name , age):
    self.name = name
    self.age = age

  def __init__(self, name):
    self.name = name

per = Person("Vishwa Mohan",99)
print(per.name)

TypeError: Person.__init__() takes 2 positional arguments but 3 were given

In [ ]:
class Person :
  def __init__(self, name, age=99, hobby="Cricket"):
    self.name = name
    self.age = age
    self.hobby= hobby


per1 = Person("Vishwa")
per2 = Person("Vishwa", 56)
per3 = Person("Vishwa", 43,"Football")

print(per1.hobby)
print(per3.hobby)

Cricket
Football

In [ ]:
class Person :
  country = "India"
  def __init__(self, name , age):
    self.name = name
    self.age = age

per1 = Person("Vishwa", 99)
per2 = Person("Shweta", 73)

print(per1.name,per1.country)
print(per2.name, per2.country)


print(Person.country)

Vishwa India
Shweta India
India

In [ ]:
#instance/object method
class Person :
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def findAge(self):
    return self.age


per = Person("Vishwa", 99)
print(per.findAge())

99

In [ ]:
#class method
class Person :

  country = "India"

  @classmethod
  def greet(cls):
    print("Hello from the ", cls.country)

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def findAge(self):
    return self.age


per = Person("Vishwa", 99)
print(per.findAge())

Person.greet()
per.greet()

99
Hello from the  India
Hello from the  India

In [ ]:
class Person :

  country = "India"

  @classmethod
  def greet(cls):
    print("Hello from the ", cls.country)

  @staticmethod
  def hello():
    print("Hello")

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def findAge(self):
    return self.age


per = Person("Vishwa", 99)
print(per.findAge())

Person.greet()
per.greet()

Person.hello()

99
Hello from the  India
Hello from the  India
Hello

In [ ]:
class Calculator :

  def add(self, a, b):
    return a+b

  def add(self,a,b,c):
    return a+b+c

cal = Calculator()

print(cal.add(5,6,7))
print(cal.add(5,6))

18

TypeError: Calculator.add() missing 1 required positional argument: 'c'

In [ ]:
#Implicit method overloading
class Calculator :

  def add(self,a,b,c=0):
    return a+b+c

cal = Calculator()

print(cal.add(5,6,7))
print(cal.add(5,6))

18
11

In [ ]:
'''
  public and private
'''

class Person :
  def __init__(self, name, age , salary):
    self.name = name
    self.age = age
    self.__salary = salary

  def findAge(self):
    return self.age

  def getSalary(self):
    print(self.__salary)
    self.__calculateTax()

  def __calculateTax(self):
    print("calculating tax")


per = Person("Vishwa", 99, 5000)

print(per.name)


per.getSalary()

per.__calculateSalary()

Vishwa
5000
calculating tax

AttributeError: 'Person' object has no attribute '__calculateSalary'

In [ ]:
print(per._Person__salary)

5000

In [ ]:
print(per._Person__calculateTax())

calculating tax
None

In [ ]:
#Encapsulation

class Person :
  def __init__(self, name, car):
    self.__name = name
    self.__car = car


  #Getters and Setters - public method to allow the contolled interactions
  def getName(self):
    return self.__name
  def setName(self, name):
    self.__name = name
  def getCar(self):
    return self.__car
  def setCar(self, car):
    self.__car = car

In [ ]:
per = Person("Vishwa", 99)

print(per.getName())
per.setName("Vishwa Mohan Singh")
print(per.getName())

Vishwa
Vishwa Mohan Singh

In [ ]:
class Animal :
  def __init__(self, name):
    self.name = name

  def eat(self):
    print(self.name + " animal is eating")


class Dog(Animal):
  def __init__(self,name, type):
    #Call the constructor/initializor of Animal class
    Animal.__init__(self, name)
    self.type = type

  def getTheNameOfDog(self):
    print(self.name)


dog = Dog("Moti", "Dobberman")
dog.eat()

dog.getTheNameOfDog()

Moti animal is eating
Moti

In [ ]:
#super keyword

In [ ]:
#Access the parent properties

class Parent :
  property = 90

  def eat(self):
    print("Parent eating")

class Child(Parent):
  property = 99

  def display(self):
    print("Child property ", self.property)
    print("Parent property ", super().property)

  def eat(self):
    print("Child eating")

  def callEat(self):
    self.eat()
    super().eat()

obj = Child()
obj.display()

obj.callEat()

Child property  99
Parent property  90
Child eating
Parent eating

In [ ]:
#using super for calling the parent intializer
class Animal :
  def __init__(self, name):
    self.name = name

  def eat(self):
    print(self.name + " animal is eating")


class Dog(Animal):
  def __init__(self,name, type):
    #Call the constructor/initializor of Animal class
    #Animal.__init__(self, name)
    super().__init__(name) #call the parent constructor or initializer
    self.type = type

  def getTheNameOfDog(self):
    print(self.name)


dog = Dog("Moti", "Dobberman")
dog.eat()

dog.getTheNameOfDog()

Moti animal is eating
Moti

In [ ]:
#Types of inheritance

#Single inheritance

class Animal :
  def __init__(self, name):
    self.name = name

  def eat(self):
    print("Animal is eating")

class Dog(Animal) :
  def __init(self, name , type):
    super().__init__(name)
    self.type = type

In [ ]:
#Multi Level Inheritance
class Animal :
  def __init__(self, name):
    self.name = name

  def eat(self):
    print("Animal is eating")

class Dog(Animal) :
  def __init(self, name , type):
    super().__init__(name)
    self.type = type

class Pet(Dog):
  def __init__(self,name,type, houseName):
    super().__init__(name, type)
    self.houseName = houseName

In [ ]:
#Hierarichal
class Animal :
  def __init__(self, name):
    self.name = name

  def eat(self):
    print("Animal is eating")

class Dog(Animal) :
  def __init__(self, name , type):
    super().__init__(name)
    self.type = type

class Cat(Animal):
  def __init__(self, name , type):
    super().__init__(name)
    self.type = type

In [ ]:
#Multi Inheritance

class A :
  def meth1(self):
    print("Hello from A")

class B :
  def meth2(self):
    print("Hello from B")

class C(A,B):
  def meth(self):
    print("Hello from the child")

c = C()

c.meth1()
c.meth2()

Hello from A
Hello from B

In [ ]:
class A :
  def meth(self):
    print("Hello from A")

class B :
  def meth(self):
    print("Hello from B")

class C(B,A):
  def meth1(self):
    print("Hello from the child")

c = C()
c.meth()

print(C.__mro__)

Hello from B
(<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>)

In [ ]:
#Hybrid inheritance

class Pet(Dog,Cat):
  pass