# 25/12/2023

In [1]:
st = {}
print(st)

{}

In [1]:
st = set()
print(type(st))

<class 'set'>

In [2]:
s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [3]:
# Set doesnot allow dublicate value. They Store only one instance.
s = {1,2,3,1,4}
print(s)

{1, 2, 3, 4}

In [4]:
# We can make Set from a list
s = set([1,2,3,1])
print(s)

{1, 2, 3}

In [5]:
s = set([1,2,3,1])
temp = set("Hello")
print(temp)

{'o', 'e', 'H', 'l'}

# ADD element to a set

In [6]:
'''We can add single element using add() method and add multiple elements using update() method .'''
s = {1,3}
'''Set Object doesnot support indexing'''
print(s[1]) # Will get type Error.

TypeError: 'set' object is not subscriptable

In [7]:
# Add elements
s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [8]:
#Add multiple elements.
s = {1,2,3}
s.update([5,6,7])
print(s)

{1, 2, 3, 5, 6, 7}

In [9]:
#Add List and set
s = {1,2,3}
s.update([5,6,7],{8,9,10})
print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [10]:
s = {1,2,3}
s.add("Hello")
s

{1, 2, 3, 'Hello'}

In [11]:
s = {1,2,3}
s.update("Hello")
print(s)

{1, 2, 3, 'e', 'H', 'l', 'o'}

# Remove Elements from a set.

In [12]:
'''A particular item can be removed from set usin method, discard() and remove().'''
s = {1,2,3,5,4}
print(s)

s.discard(4) #4 is removed from set s.
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [13]:
#Discard an element not present in a set s. but the value are same available
s = {1,2,3}
s.discard(5)
print(s)

{1, 2, 3}

In [14]:
#remove an element not present in a set. there are gives a key error.
s = {1,2,3}
s.remove(5)
print(s)

KeyError: 5

In [23]:
'''We can remove item using pop() method '''
s = {1,2,3,4,5,6}
s.pop() # remove  random elememt
print(s)

{2, 3, 4, 5, 6}

In [22]:
'''We can remove item using pop() method '''
s = {1,2,3,4,5,6}
print(s.pop())
s.pop() # it is remove one by one 1st element value and it is also show the deleted value
print(s)

1
{3, 4, 5, 6}

In [24]:
s = {1,2,3,4,5,6}
s.clear() # remove all items in set using clear() method
print(s)

set()

# 27/12/2023

In [2]:
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
for i in s1:
      if i not in s2:
            print(i,end=" ")

1 5 6

In [3]:
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
lst = []
for i in s1:
      if i not in s2:
            lst.append(i)
print(lst)

[1, 5, 6]

In [6]:
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
s3 = s1.intersection(s2)
print(s3)

{3, 7}

In [7]:
#Intersection
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
for i in s1:
      if i in s2:
            print(i,end=" ")

3 7

In [9]:
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
for i in s1:
      if i not in s2:
            s1.add(i)
print(s1)

{1, 3, 5, 6, 7}

In [10]:
#Union of two set
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
s3.update(s1)
s3.update(s2)
print(s3)

{1, 3, 5, 6, 7, 9, 11}

In [11]:
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
lst = []
for i in s1:
      lst.append(i)
for i in  s2:
      if i not in lst:
            lst.append(i)
print(lst)

[1, 3, 5, 6, 7, 9, 11]

In [15]:
l = eval(input())
print(l)
l1 = []
for i in range(len(l)):
      if l[i] not in l1:
            l1.append(l[i])
print(l1)

(1, 2, 3, 2, 3, 4, 5, 6, 5, 4, 6, 9, 8, 7, 8, 9, 7, 2, 3, 1)
[1, 2, 3, 4, 5, 6, 9, 8, 7]

In [2]:
'''1. Write a Python program to create a set.'''
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [3]:
'''2. Write a Python program to iterate over sets.'''
s1 = {1,3,5,6,7}
s2 = {3,7,9,11}
for i in s1:
      if i not in s2:
            print(i,end=" ")

1 5 6

In [2]:
s = set([0,1,2,3,4,5])
for i in s:
      print(i,end=" ")
print('\n')
s1 = set("Sarfraz")
for j in s1:
      print(j,end=" ")

0 1 2 3 4 5

f z a S r

In [13]:
'''3. Write a Python program to add member(s) to a set.'''
s = {"Red","Blue","Green"}
s.add("White")
print(s)
s.update("Black","Green","Orange","Purple")
print(s)

{'G', 'a', 'l', 'p', 'O', 'r', 'c', 'n', 'e', 'Green', 'Blue', 'g', 'P', 'B', 'Red', 'u', 'k'}

In [16]:
'''4. Write a Python program to remove item(s) from a given set.'''
s = set([0,1,2,3,4,5])
print(s)
print(s.pop())
s.pop()
print(s)

{0, 1, 2, 3, 4, 5}
0
{2, 3, 4, 5}

In [20]:
'''5. Write a Python program to remove an item from a set if it is present in the set.'''
s = set([0,1,2,3,4,5])
print(s)
s.discard(4)
print(s)
s.remove(2)
print(s)
s.discard(6)
print(s)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 5}
{0, 1, 3, 5}
{0, 1, 3, 5}

# 29/12/2023

In [2]:
'''Write a Python program to find all the unique words 
and count the frequency of occurrence from a given list of strings.'''
lst = [1,2,3,4,2,3,4,7,2,9,7]
ls1 = set(lst)
lst1 = list(ls1)
print(list(lst1))
lst2 = []
for i in lst1:
      lst2.append(lst.count(i))
print(lst2)

[1, 2, 3, 4, 7, 9]
[1, 3, 2, 2, 2, 1]

In [2]:
lst = [1,2,3,4,2,3,4,7,2,9,7]
lst1 = set(lst)
lst2 = list(lst1)
print(list(lst2))

[1, 2, 3, 4, 7, 9]

In [4]:
#unique in string
str = input()
str1 = set(str)
print(str1)

{'g', 'T', 'e', 'n', ' ', 'k', 'o', 'h', 'i', 'd', 'r', 'C'}

In [6]:
lst = [1,3,5,7,9,11,8]
for i in lst:
      for j in lst:
            if

True
True
True

In [3]:
'''6. Write a Python program to create an intersection of sets.'''
s1 = set(["Sarfraz","Pratyush"])
s2 = set(["Pratyush","Ehsaan"])
s3 = s1&s2
print(s3)

{'Pratyush'}

In [4]:
s1 = set(["Sarfraz","Pratyush"])
s2 = set(["Pratyush","Ehsaan"])
for i in s1:
      if i in s2:
            print(i,end=" ")

Pratyush

In [5]:
''' 7.Write a Python program to create a union of sets.'''
s1 = set(["Sarfraz","Pratyush"])
s2 = set(["Pratyush","Ehsaan"])
s3 = s1.union(s2)
print(s3)

{'Ehsaan', 'Pratyush', 'Sarfraz'}

In [6]:
s1 = set(["Sarfraz","Pratyush"])
s2 = set(["Pratyush","Ehsaan"])
s3.update(s1)
s3.update(s2)
print(s3)

{'Pratyush', 'Ehsaan', 'Sarfraz'}

In [1]:
'''12. Write a Python program to remove all elements from a given set.'''
s = {1,2,3,4,5,6,7,9,8}
s.remove(3)
print(s)
s.discard(8)
print(s)
s.pop()
print(s)
s.clear()
print(s)

{1, 2, 4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 9}
{2, 4, 5, 6, 7, 9}
set()

In [3]:
'''14. Write a Python program to find the maximum and minimum values in a set.'''
s = {1,10,30,50,20,60,80}
print(min(s))
print(max(s))

1
80

In [4]:
'''15. Write a Python program to find the length of a set.'''
s = {1,2,5,4,6,3}
print(len(s))

6

# 05/01/2024

# Set Operation

In [1]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
#union of 2 sets using | or operator
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
#another way to getting union of 2 sets
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [3]:
#intersection of 2 sets using & operator
print(s1 & s2)

{3, 4, 5}

In [4]:
#use intersection Function
print(s1.intersection(s2))

{3, 4, 5}

In [5]:
#Set difference: Set of elements that are only in set1 but not in set2.
print(s1 - s2)

{1, 2}

In [7]:
#use difference function
print(s1.difference(s2))

{1, 2}

In [2]:
'''Symmetric Diference: set of elements in both set1 and set2
#except those that are Common in both.'''
#use ^ operator
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1^s2)

{1, 2, 6, 7}

In [3]:
#use symmetric function
print(s1.symmetric_difference(s2))

{1, 2, 6, 7}

In [4]:
#Find issubset()
x={"a","b","c","d","e"}
y={"c","d"}
print("set 'x' is subset of 'y' ?",x.issubset(y)) #check x is subset of y.
print("set 'y' is subset of 'x' ? ", y.issubset(x)) #check y is subset of x.

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ?  True

# Frozen Sets

In [5]:
s1 = frozenset([1,2,3,4])
s2 = frozenset([3,4,5,6])
#try to add element into set1 gives am error
s1.add(5)
print(s1)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
print(s1 | s2)

frozenset({1, 2, 3, 4, 5, 6})

In [7]:
print(s1 & s2)

frozenset({3, 4})

In [1]:
'''8.Write a Python program to create set difference.'''
s1 = set(["green","blue","black","red"])
s2 = set(["Orange","blue","white","green"])
print(s1-s2)

{'red', 'black'}

In [2]:
print(s1.difference(s2))

{'red', 'black'}

In [3]:
'''9. Write a Python program to create a symmetric difference.'''
print(s1^s2)

{'red', 'black', 'Orange', 'white'}

In [4]:
s1 = {1,2,3,4,5,6}
s2 = {4,7,9,2,10,6,12}
print(s1^s2)

{1, 3, 5, 7, 9, 10, 12}

In [5]:
print(s1.symmetric_difference(s2))

{1, 3, 5, 7, 9, 10, 12}

In [6]:
'''10. Write a Python program to check if a set is a subset of another set.'''
s1 = {"Sarfraz","Pratyush","Kaiser","Zafar"}
s2 = {"Sarfraz","Zafar"}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [9]:
'''11.Write a Python program to create a shallow copy of sets.

Note : Shallow copy is a bit-wise copy of an object. 
A new object is created that has an exact copy of the values in the original object.'''
s1 = {"Green","Black"}
s2 = {"Black","Red"}
s3 = s1.copy()
print(s3)

{'Black', 'Green'}