In [ ]:
x = int(input("Enter the number"))

if x>15 :
  print("Number is greater than 15")

Enter the number5

In [ ]:
x = int(input("Enter the number"))

if x>15 :
  print("Number is greater than 15")
else :
  print("Number is less than 15")

Enter the number15
Number is less than 15

In [ ]:
x = int(input("Enter the number"))

if x>15 :
  print("Number is greater than 15")
elif x ==15 :
  print("Number is equal to 15")
else :
  print("Number is less than 15")

In [ ]:
marks = 85

if marks >=90 :
  print("A")
elif marks >=80 :
  print("B")
elif marks >=70 :
  print("C")
elif marks >=60 :
  print("D")
else :
  print("Study more")

B

In [ ]:
if [5] :
  print("Inside if")

Inside if

In [ ]:
if 0 :
  print("Inside if")
else :
  print("Inside else")

Inside else

In [ ]:
if "" :
  print("Inside if")
else :
  print("Inside else")

Inside else

In [ ]:
#Nested conditionals

x = 19

if x >5 :
  print("X is greater than 5")

  if x%2==0 :
    print("x is also even")
  else :
    print("X is odd")
else :
  print("X is less than 5 , so not calculating even or odd")

X is greater than 5
X is odd

In [ ]:
num = 5

if num >= 0 :
  print("Number is positive")
else :
  print("Number is negative")

In [ ]:
#Ternary operators
num = 5

result = "Postive" if num >=0 else "Negative"
print("Number is ", result)

Number is  Postive

In [ ]:
#match and case

day_num =11

match day_num :
  case 1:
    print("Today is Monday")
  case 2 :
    print("Today is Tuesday")
  case 3 :
    print("Today is Wednesday")
  case 4 :
    print("Today is Thursday")
  case 5 :
    print("Today is Friday")
  case 6 :
    print('Today is Saturday')
  case 7 :
    print("Today is Sunday")
  case _ :
    print("Invalid day number")

Invalid day number