In [3]:
t=()
#tuple having integers
t=(1,2,3)
print(t)
print(type(t))
#tuple with mixed datatypes.
t=(1,'raju',28,'abc')
print(t)

(1, 2, 3)
<class 'tuple'>
(1, 'raju', 28, 'abc')

In [5]:
#nested Tuple
t=(1,(2,3,4),[1,'raju',28,'abc'])
print(t)
print(t[1][2])
#print(t[3][2])

(1, (2, 3, 4), [1, 'raju', 28, 'abc'])
4

In [1]:
#only paranthesis is not enough
t = ('Satish')
print(type(t))

<class 'str'>

In [2]:
t = ('Satish',)
print(type(t))

<class 'tuple'>

In [6]:
tpl=(1,3,5,7,8,9,11,23)
print(tpl[1::4])
#print(tpl[-2:-8:-3])
print(tpl[-2:-9:-3])
print(tpl[-3::-4])

(3, 9)
(11, 7, 1)
(9, 3)

In [8]:
#Concatination Tuple
t=(1,2,3)
print(id(t))  #adress of only this t
s=(2,3,4)
print(id(s))  #adress of only s

t+=s
print(t) #different adress of t creating a new tuple

2129481756096
2129481796224
(1, 2, 3, 2, 3, 4)

In [9]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

# 19/10/2023

In [1]:
t = ((1,2,3,4 ) * 4)
print(t)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [2]:
#Delete Tuple
t = (1,2,3,4,5,6)
del t

In [3]:
# count Tuple
t = (1,2,3,4,5,6)
t.count(2)

1

In [4]:
# Tuple Index
t = (1,2,3,1,3,3,4,1)
print(t.index(3))

2

In [7]:
# Tuple Memebership
t = (1,2,3,4,5,6)
print(1 not in t)
print(7 in t)
print(4 in t)

False
False
True

In [8]:
# Built in function
# Tuple Length
t = (1,2,3,4,5,6)
print(len(t))

6

In [11]:
# Tuple sort
t = (4,5,1,3,2)
new_t= sorted(t,reverse=True)
print(new_t)

[5, 4, 3, 2, 1]

In [12]:
# get the largest element
t = (4,5,1,3,2)
print(max(t))

5

In [13]:
# smallest element
print(min(t))

1

In [17]:
l=[1,4,5,7,9]
l=tuple(l)
print(l,type(l))

(1, 4, 5, 7, 9) <class 'tuple'>

Write a Python program to convert a given list of tuples to a list of lists.
Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]
Original list of tuples: [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

In [23]:
lst=[(1, 2), (2, 3), (3, 4)]
l=tuple(l)
print(l)

((1, 2), (2, 3), (3, 4))

In [24]:
t=[(1, 2), (2, 3), (3, 4)]
for i in range(len(t)):
      t[i]=list(t[i])
print(t)

[[1, 2], [2, 3], [3, 4]]

Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.
Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]
Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]

In [35]:
t = [(1, 2), (2, 3), (3, 4)]
for i in range(len(t)):
      t[i]=sum(t[i])
print(t)

[3, 5, 7]

In [1]:
# get sum of element in the tuple
t = (2,5,1,6,9)
print(sum(t))

print(t)

t=list(t)
print(t)

23
(2, 5, 1, 6, 9)
[2, 5, 1, 6, 9]

# Home Work

In [10]:
# Write a Python program to calculate the product, multiplying all the numbers in a given tuple.
# Original Tuple:(4, 3, 2, 2, -1, 18)
# Product - multiplying all the numbers of the said tuple: -864
# Original Tuple:(2, 4, 8, 8, 3, 2, 9)
# Product - multiplying all the numbers of the said tuple: 27648
t = (4, 3, 2, 2, -1, 18)
product = 1
for i in range(len(t)):
      product*=t[i]

print(product)

-864

In [11]:
t = (2, 4, 8, 8, 3, 2, 9)
mul = 1
for i in range(len(t)):
      mul*=t[i]
      
print(mul)

27648

In [2]:
# Write a Python program to calculate the average value of the numbers in a given tuple of tuples.
# Original Tuple:((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
# Average value of the numbers of the said tuple of tuples:[30.5, 34.25, 27.0, 23.25]
# Original Tuple:((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
# Average value of the numbers of the said tuple of tuples:[25.5, -18.0, 3.75]
t = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
lst = []
for i in range(len(t)):
      sum1 = 0
      for j in range(len(t)):
            sum1 +=t[j][i]
      avg=sum1/4
      lst.append(avg)
      
print(lst)

[30.5, 34.25, 27.0, 23.25]

In [1]:
lst = [(10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4)]
x = []
for i in range(len(lst)):
      avg=sum(lst[i])/len(lst[i])
      x.append(avg)

print(x)

[10.5, 44.0, 58.0, 2.5]

In [1]:
# Write a Python program to convert a given tuple of positive integers into an integer.
# Original tuple: (1, 2, 3)
# Convert the said tuple of positive integers into an integer: 123
t = (1, 2, 3)
x = 0
for i in t:
     x=x*10+i
t=x
print(t)

123

In [5]:
# Write a Python program to compute the element-wise sum of given tuples.
# Original lists:(1, 2, 3, 4)(3, 5, 2, 1)(2, 2, 3, 1)
# Element-wise sum of the said tuples:(6, 9, 8, 6)
t1 = (1, 2, 3, 4)
t2 = (3, 5, 2, 1)
t3 = (2, 2, 3, 1)
lst = []
for i in range(len())

TypeError: 'tuple' object cannot be interpreted as an integer

# 26/10/2023

In [3]:
# You are given a list of tuples, each containing a student's name and their exam scores. 
# Write a Python function to sort the list of tuples in descending order of scores and, in case of a tie, in ascending order of names.
# student_scores = [("Alice", 85), ("Bob", 92), ("Eve", 77), ("David", 92), ("Charlie", 88), ("Frank", 77)]
# output : [('Bob'', 92), ('David'', 92), ('Charlie', 88), ('Alice', 85), ('Frank', 77), ('Eve', 77)]

lst = [("Alice", 85), ("Bob", 92), ("Eve", 77), ("David", 92), ("Charlie", 88), ("Frank", 77)]
n = len(lst)
for i in range(n):
    for j in range(0, n - i - 1):
        if lst[j][1] < lst[j + 1][1]:
            lst[j], lst[j + 1] = lst[j + 1], lst[j]
print(lst)

[('Bob', 92), ('David', 92), ('Charlie', 88), ('Alice', 85), ('Eve', 77), ('Frank', 77)]

In [1]:
# You are given a list of tuples, each representing a person's name, age, and height. Write a Python function to filter the list and return a new tuple containing the names of people who are older than 30 and taller than 160 cm. 
# input : people_info = [("Alice", 28, 165), ("Bob", 35, 172), ("Eve", 29, 160), ("David", 45, 175), ("Charlie", 31, 158)]
# outputt : ('Bob', 'David')

lst =  [("Alice", 28, 165), ("Bob", 35, 172), ("Eve", 29, 160), ("David", 45, 175), ("Charlie", 31, 158)]
lst1 = []
for i in lst:
      if i[1]>30 and i[2]>160:
            lst1.append(i[0])
print(tuple(lst1))

('Bob', 'David')

In [13]:
# CONVERT TUPLE MATRIX TO TUPLE LIST.
# input=>  list=[[(4,5),(7,8)],[(10,13),(18,17)]]
# output=>[(4,7,10,18),(5,8,13,17)]
lst=[[(4,5),(7,8)],[(10,13),(18,17)]]
l1=[]
for i in range(2):
    l2=[]
    for j in range(2):
        for k in range(2):
            print(j,k,i)
            l2.append(lst[j][k][i])

    l1.append(l2)

print(l1)

0 0 0
0 1 0
1 0 0
1 1 0
0 0 1
0 1 1
1 0 1
1 1 1
[[4, 7, 10, 18], [5, 8, 13, 17]]

In [2]:
#Write a Python program to create a tuple.
x = ()
print(x)

()

In [3]:
# Write a Python program to create a tuple with different data types.
x = ("Sarfraz",9.3,False)
print(x)

('Sarfraz', 9.3, False)

In [5]:
# Write a Python program to create a tuple of numbers and print one item.
t = (5,6,7,8)
print(t)
print(t[0])

(5, 6, 7, 8)
5

In [6]:
#4.Write a Python program to unpack a tuple into several variables.
t=(1,2,3,4,5)
a,b,c,d,e = t
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [7]:
#5. Write a Python program to add an item to a tuple.
t = (1,2,3,4)
s = (4,5,6,7,8)
t+=s
print(t)

(1, 2, 3, 4, 4, 5, 6, 7, 8)

In [8]:
#6. Write a Python program to convert a tuple to a string.
t = ('s','a','r','f','u')
s=''.join(t)
print(s)

sarfu

In [3]:
'''7. Write a Python program to get the 4th element from the last element of a tuple.'''
t = 'Sarfraz'
print(t)
t1 = t[3]
print(t1)
t2=t[-4]
print(t2)

Sarfraz
f
f

In [ ]:
'''8. Write a Python program to create the colon of a tuple.'''

In [4]:
'''9. Write a Python program to find repeated items in a tuple.'''
t = (2, 4, 5, 6, 2, 3, 4, 4, 7)
print(t)
count = t.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [2]:
'''10. Write a Python program to check whether an element exists within a tuple.'''
t = (1,2,3,4,5,6,7,8,9)
if 3 in t:
      print("True")
else:
      print("False")

True

In [1]:
t1 = ("number", "two", "three")
t2 = ("number", "2", "3")
t3 = t1+t2
print(t3)

('number', 'two', 'three', 'number', '2', '3')

In [3]:
print("HEllo")

HEllo

In [1]:
n = int(input("Enter a Numbers"))
no_star = n
for i in range(n):
    for j in range(no_star):
        if i==0 or i==n-1 or i+j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * * * *
              *
            *
          *
        *
      *
    *
  *
* * * * * * * * *